#allpage {
    min-height: 100%;
    min-width: 100%;
}

div.loading {
    background-color: #eee;
    background-image: url('./../images/ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}

div.loading * {
    opacity: .2;
}